<nav>

<!-- Mobile Menu -->
  <div class="container mobile">
    <div class="row">
<a href="{{ "/" | relURL }}">
      <div class="col home">
Home
      </div>
</a>
<a href="{{ "/about" | relURL }}">
      <div class="col about">
About
      </div>
</a>
<a href="{{ "/apply" | relURL }}">
      <div class="col apply">
Apply Now
      </div>
</a>

<a href="{{ "/account" | relURL }}">
      <div class="col account">
  My Account
      </div>
</a>
<a href="{{ "" | relURL }}">
      <div class="col more">
More
      </div>
</a>
    </div>
</div>

<!-- Desktop Menu -->
  <div class="container desktop">
    <div class="row">
      <div class="col">
        <ul>
          <li><a href="{{ "/" | relURL }}">Home</a></li>
          <li><a href="{{ "/about" | relURL }}">About</a></li>
          <li class="dropdown-nav"><a class="inactiveLink">Loan Types
              <div>
                <div class="dropdown-content">
                  <a href="{{ "/installment-loans" | relURL }}">Signature Installment Loans</a>
                  <a href="{{ "/registration-loans" | relURL }}">Registration Loans</a>
                  <a href="{{ "/line-of-credit" | relURL }}">Line of Credit</a>
                </div>
              </div>
            </a></li>
          <li><a href="https://epaymyloan.com/" target="_blank">Make A Payment</a></li>
          <li><a href="{{ "/consumer-disclosures" | relURL }}">Disclosure</a></li>
          <span class="nav-buttons">
            <a class="btn btn-primary btn-login" href="{{ "/account" | relURL }}"><img src="{% asset_path account_circle-white.svg %}" alt="User Account">My Account</a>
            <a class="btn btn-primary btn-apply" href="{{ "/apply" | relURL }}">Apply Now</a>
          </span>
        </ul>
      </div>
    </div>
  </div>
</nav>
