<nav>

<!-- Mobile Menu -->

<div id="mobileMenu" class="mobile">
  <ul>
    <li>
      <a href="{{ "/" | relURL }}"><a href="{{ "/" | relURL }}"><img src="{% asset_path menu-home.png %}" alt="Home"></a>
      <p><a href="{{ "/" | relURL }}">Home</a></p>
    </li>

    <li>
      <a href="{{ "/about" | relURL }}"><img src="{% asset_path menu-about-us.png %}" alt="About Us"></a>
      <p><a href="{{ "/about" | relURL }}">About Us</a></p>
    </li>

    <li>
      <a href="{{ "/apply" | relURL }}"><img src="{% asset_path menu-apply-now.png %}" alt="Apply Now"></a>
      <p><a href="{{ "/apply" | relURL }}"><strong>Apply Now</strong></a></p>
    </li>

    <li>
      <a href="{{ "/account" | relURL }}"><img src="{% asset_path menu-my-account.png %}" alt="My Account Us"></a>
      <p><a href="{{ "/account" | relURL }}">My Account</a></p>
    </li>

    <li>
      <a href="{{ "" | relURL }}"><img src="{% asset_path menu-more.png %}" alt="More"></a>
      <p><a href="{{ "" | relURL }}">More</a></p>
    </li>
  </ul>
</div>

<!-- Desktop Menu -->
  <div id="desktopMenu" class="container desktop">
    <div class="row">
      <div class="col">
        <ul>
          <li><a href="{{ "/" | relURL }}">Home</a></li>
          <li><a href="{{ "/about" | relURL }}">About</a></li>
          <li class="dropdown-nav"><a class="inactiveLink">Loan Types
              <div>
                <div class="dropdown-content">
                  <a href="{{ "/installment-loans" | relURL }}">Signature Installment Loans</a>
                  <a href="{{ "/registration-loans" | relURL }}">Registration Loans</a>
                  <a href="{{ "/line-of-credit" | relURL }}">Line of Credit</a>
                </div>
              </div>
            </a></li>
          <li><a href="https://epaymyloan.com/" target="_blank">Make A Payment</a></li>
          <li><a href="{{ "/consumer-disclosures" | relURL }}">Disclosure</a></li>
          <span class="nav-buttons">
            <a class="btn btn-primary btn-login" href="{{ "/account" | relURL }}"><img src="{% asset_path account_circle-white.svg %}" alt="User Account">My Account</a>
            <a class="btn btn-primary btn-apply" href="{{ "/apply" | relURL }}">Apply Now</a>
          </span>
        </ul>
      </div>
    </div>
  </div>
</nav>
