<div id="threeSteps">
  <div class="header-area">
    <h3>Get Your Loan in 3 Easy Steps</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col step-box">
          <img src="{% asset_path step-1.png %}" alt="Step 1 - Laptop" class="img-fluid">
        <span class="green-cirle">1</span>
        <h4>Simple Verification Process</h4>
      </div>
      <div class="col step-box">
        <img src="{% asset_path step-2.png %}" alt="Step 2 - Cash" class="img-fluid">
        <span class="green-cirle">2</span>
        <h4>Fast Loan Decision</h4>
      </div>
      <div class="col step-box">
        <img src="{% asset_path step-3.png %}" alt="Step 3 - Money in hand" class="img-fluid">
        <span class="green-cirle">3</span>
        <h4>Get Your Cash</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="btn btn-primary btn-lg" href="{{ "apply" | relURL }}">Apply Now</a>
      </div>
    </div>
  </div>
</div>
<!-- /#threeSteps -->
