<nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="topNav">
          <ul>
            <li><a href="{{ "about" | relURL }}">About</a></li>
            <li class="dropdown-nav"><a class="inactiveLink">Loan Types
            <div>
              <div class="dropdown-content">
                <a href="{{ "installment-loans" | relURL }}">Signature Installment Loans</a>
                <a href="{{ "registration-loans" | relURL }}">Registration Loans</a>
                <a href="{{ "line-of-credit" | relURL }}">Line of Credit</a>
              </div>
            </div>
            </a></li>
            <li><a href="https://epaymyloan.com/" target="_blank">Make A Payment</a></li>
            <li><a href="{{ "consumer-disclosures" | relURL }}">Consumer Disclosure</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
