<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Fast Loans - {{ page.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {% asset_tag main.css %}
</head>

<body>

{% include header.html %}
{% include menu.html %}

  {{ content }}

{% include footer.html %}


  {% asset_tag main.js %}



<div id="printNotice">
<h1>Note: Currently there is no print style sheet. If there are style or layout updates that should be gone over please screen capture the page with comments regarding what needs to be updated.</h1>
<h2>Thank You</h2>
</div>
<!-- /#printNotice -->

</body>
</html>
