/***  helpers.scss ***/

//Desktop-Mobile View
.desktop {
  @media (max-width: 767px) {
  display: none;
  }
}

.mobile {
  @media (min-width: 768px) {
  display: none;
  }
}

// List Style
.clear-list-style {
  li {
    list-style: initial;
    background: none;
    padding: initial;
    line-height: initial;
    padding-left: 1em;
  }
}

.cirle-check-style {
  ul {
    list-style: url("~media/svg/circle-blue.svg");
  }
}

.green-check-style {
  ul {
    list-style: url("~media/svg/check-green.svg");
  }
}

.inactiveLink {
   pointer-events: none;
}

.activeLink {
   pointer-events: auto;
   cursor: pointer;
}

.date-field {
  background-image: url("~media/svg/calendar_today-black.svg");
  background-repeat: no-repeat;
  background-position: right 0.5em bottom 50%;
  padding-right: 0.25em;
}

.phone-field {
  background-image: url("~media/svg/phone-black.svg");
  background-repeat: no-repeat;
  background-position: right 1em bottom 50%;
}

.field-hidden {
  background-image: url("~media/svg/visibility_off-black-24dp.svg");
  background-repeat: no-repeat;
  background-position: right 1em bottom 50%;
}

.field-shown {
  background-image: url("~media/svg/visibility-black.svg");
  background-repeat: no-repeat;
  background-position: right 1em bottom 50%;
}


.green-cirle {
  color: $font-white;
  background-color: $main-green;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: block;
  padding-top: 0.25em;
  font-size: 1.25em;
  font-weight: 600;
  margin: 1em auto 0.5em;
}

.sflfont {
  color: $main-green;
}

.hide {
  display: none !important;
}


//PRINT NOTICE
#printNotice {
  display: none;
  text-align: center;
  padding-top: 25%;
  padding-left: 10%;
  padding-right: 10%;
}

@media print {
    body > * {
        display: none;
    }

    #printNotice {
        display: block;
    }
}
