/*** variables.scss ***/

/*Colors*/
$main-black:#000; //black
$main-blue:#204296; //dark-blue
$main-green: #3db54a; //moderate-green
$font-white: #fefefe; //soft-white
$light-blue:#4db3de; //soft-blue
$grey: #818182; //dark-greyish-blue
$grey-red:#edebeb; //light-greyish-red
$grey-light:#f6f6f6; //very-light-grey
$grey-index: #edf7f4; //light-greyish-cyan

$accordion-main: #4db3de;
$accordion-select: #2f9ac7;

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
