/*** variables.scss ***/

/*Colors*/
$main-black:#000; //black
$main-blue:#204296; //dark-blue
$main-green: #3db54a; //moderate-green
$font-white: #fefefe; //soft-white
$light-blue:#4db3de; //soft-blue
$grey: #818182; //dark-grayish-blue
$grey-red:#edebeb; //light-grayish-red
$grey-light:#f6f6f6; //very-light-gray
$grey-index: #edf7f4;

$accordion-main: #2f9ac7;
$accordion-select: #206481;

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
