/*** 404 Page ***/
#error404page {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  h1 {
    font-size: 6em;
    font-weight: 700;
    color: #3db54a;
  }
  h2 {
    font-size: 3em;
    color: $main-black;
    font-weight: 600;
  }
  a {
    text-decoration: underline;
    font-size: 1.25em;
    color: $main-blue;
  }
  a:hover {
    text-decoration: none;
  }
  li {
    list-style: none;
  }


}
