/*** Blog Page ***/
#blogPage {
  margin: 3em 0;
  color: $main-green;
  a {
    color: $main-green;
  }
  li {
    list-style: none;
    font-size: 1.25em;
  }
}

/*** Blog Posts***/
#blogPost {
  margin: 3em 0;
  h2 {color: $main-green;}
  h3 {color: $main-green;}
  color: $main-blue;
}
