/*** Count Us Page ***/
#contactPage {
  margin-top: 5em;

  .contact-options {
    img {
      float: left;
      padding-right: 1em;
    }
    margin-top: 1em;
  }
  .form {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  label {
    color: $main-blue;
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 1em;
    margin-top: 1em;
  }
  .submit-area {
    margin-top: 2em;
    text-align: center;
  }
}
