/*** Loan Types ***/
#privacyPolicy {
  margin: 5em 0;
  font-family: "Source Sans Pro Light";
  font-weight: 300;
  h1 {
    font-weight: 700;
  }
  h2 {
    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
  }
  p {
    margin-bottom: 1em;
  }
  a {
    color: $main-green;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
