---
layout: default
title: Site Map
search: exclude
---
<div id="siteMap">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="{% asset_path terms-of-use.svg %}" alt="Group of People">
      </div>
      <div class="col">
        <h1>Site List</h1>

        <ul>

          {% for page in site.pages %}{% if page.exclude != true %}

          <url>
            <li>
              <loc><a href="{{ page.url | relURL }}">{{ page.title }}</a></loc>
            </li>
          </url>

          {% endif %}{% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /#siteMap -->

{% include three-steps.html %}
