/*** Header ***/

header {
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  background-color: #fff;
  position: relative;
  color: $main-blue;
  z-index: 3;
  font-size: 1.25em;
  font-weight: 600;
  a {
    color: $main-blue;
    text-decoration: underline;
  }
}
