/*** Menu ***/

nav {

// Mobile
  @media (max-width: 767px) {
    background-color: $main-blue;
    color: $font-white;
    font-size: 0.75em;
    text-align: center;
    height: 4em;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
      color: $font-white;
    }
    a:visited {
      color: $font-white;
    }

    .mobile-home {
      background-image: url("~media/svg/menu-home.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .mobile-about {
      background-image: url("~media/svg/menu-about-us.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .mobile-apply {
      background-image: url("~media/svg/menu-apply-now.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .mobile-account {
      background-image: url("~media/svg/menu-my-account.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .mobile-more {
      background-image: url("~media/svg/menu-more.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }


  }

//Desktop
    @media (min-width: 768px) {
      background-color: $grey-red;
      color: $main-blue;
    }

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    font-weight: 700;
    z-index: 1;
    position: relative;
    .nav-buttons {
      img {
        padding-right: 0.5em;
      }

      .btn-login {
        background-color: $main-blue;
        margin-left: 2em;
        margin-right: 1em;
      }

      .btn-login:hover {
        background-color: $light-blue;
        border-color: $light-blue;
      }
    }

    a {
      color: $main-blue;
    }

    a:hover {
      color: $light-blue;
    }

    ul {
      margin: 0;
      float: right;
    }

    li {
      list-style: none;
      float: left;
      margin-top: 0.5em;
      padding-left: 1.25em;
      padding-right: 1.25em;
      border-left: 1px solid $grey;
    }

    li:first-child {
      border-left: none;
    }

  //Menu Dropdown
  .dropdown-nav {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $grey-red;
    z-index: 2;
    font-size: 1em;
    width: max-content;
    padding: 1em 1.4em;
    left: -1px;
  }

  .dropdown-content a {
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }

  .dropdown-nav:hover .dropdown-content {
    display: block;
    }
}
