/*** Menu ***/
nav {

  background-color: $main-blue;

#topNav {

  li {
    list-style: none;
  }
  height: 2em;
}

@media (min-width: 768px) {
  // background-color: #ffffff5c;
  color: $main-blue;
  background-color: $grey-red; //testing
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
  font-weight: 700;
  z-index: 1;
  position: relative;

  .nav-buttons {
    img {
      padding-right: 0.5em;
    }
    .btn-login {
      background-color: $main-blue;
      margin-left: 2em;
      margin-right: 1em;
    }
    .btn-login:hover {
      background-color: $light-blue;
      border-color: $light-blue;
    }
  }

  a {
    color: $main-blue;
  }
  a:hover {
    color: $light-blue;
  }
  ul {
    margin: 0;
    float: right;
  }
  li {
    list-style: none;
    float: left;
    margin-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 1px solid $grey;
  }
  li:first-child {
    border-left: none;
  }
}

}
//Menu Dropdown
#topNav {
  .dropdown-nav {
    position: relative;
    display: inline-block;
  }

  .dropdown-nav:hover {
    // background-color: $grey-light;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $grey-red;
    z-index: 2;
    font-size: 1em;
    width: max-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
    border-left: 1px solid $grey;
    // border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    left: -1px;
    // filter: drop-shadow(1em 0 1em $grey);
  }

  .dropdown-content a {
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    // background-color: $grey-light;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }

  .dropdown-nav:hover .dropdown-content {
    display: block;
  }
}
